@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --cream: #F7F3EE;
}

body {
  font-family: "Times New Roman", Times, serif !important;
  background: var(--cream);
}
.gradient-text {
  background: linear-gradient(
    to right,
    var(--navy),
    var(--teal),
    var(--navy)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.primary-btn {
  background: linear-gradient(to right, #0D1F3C, #2ABFBF);
  color: white;
  font-weight: 600;
  padding: 12px 24px;
  border-radius: 9999px;
  box-shadow: none;
  transition: background 0.3s ease, transform 0.2s ease;
  margin-top: 10px;
}

.primary-btn:hover {
  background: linear-gradient(to right, #0B1830, #239E9E);
}
.section-heading {
  font-size: 34px;
  font-weight: 600;
  /* font-family: 'Playfair Display', serif; */
  background: linear-gradient(135deg, #0D1F3C, #2ABFBF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


@media (max-width: 768px) {
  .section-heading {
    font-size: 1.4rem;
  }
}
.section-title {
  font-size: 24px;
  font-weight: 600;
  /* font-family: 'Playfair Display', serif; */
  background: linear-gradient(135deg, #0D1F3C, #2ABFBF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 768px) {
  .section-title {
    font-size: 1.3rem;
  }
}
.section-subheading {
  font-size: 24px;
  font-weight: 600;
/* font-family: 'Playfair Display', serif; */
background: linear-gradient(135deg, #0D1F3C, #2ABFBF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 10px;
  margin-bottom: 20px;
}
.section-subtitle {
  font-size: 18px;
  color: #0D1F3C;
  margin-top: 10px;
  line-height: 1.5;
}

.section-desc {
  font-size: 18px;
  color: #0D1F3C;
  line-height: 1.7;
  margin-top: 10px;
  font-weight: 500;
}

.section-webtitle {
  font-size: 24px;
  font-weight: 700;
  /* font-family: 'Playfair Display', serif; */
  background: linear-gradient(135deg, #0D1F3C, #2ABFBF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* 👉 Mobile view */
@media (max-width: 640px) {
  .section-webtitle {
    font-size: 20px;
  }
}

body {
  text-transform: lowercase;
}
@keyframes fadeInUp {
  from { opacity: 0; transform: translateY(30px); }
  to { opacity: 1; transform: translateY(0); }
}
.animate-fadeInUp {
  animation: fadeInUp 1s ease forwards;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.perspective {
  perspective: 1000px;
}

.preserve-3d {
  transform-style: preserve-3d;
}

.rotate-x-180 {
  transform: rotateX(180deg);
}

.backface-hidden {
  backface-visibility: hidden;
}